.rodape {
  background-color: #000000;
}
.rodape-container {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  padding: 120px 20px 60px 20px;
  gap: 100px;
  position: relative;
  align-items: center;
}

.rodape-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}

.rodape-contato li {
  font-weight: bold;
  color: #ffffff;
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 30px;
}

.rodape-direitos {
  font-size: 1.25rem;
  color: #8f8f8f;
  grid-column: 1/-1;
}
@media (max-width: 800px) {
  .rodape-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .rodape-contato {
    font-size: 1.5rem;
  }
}

.btnstart {
  width: 40px;
  position: fixed;
  bottom: 20px;
  right: 60px;
}
